<div class="card mb-3">
  <h5 class="card-header ">{{ code.title }}</h5>
  <div class="card-body border-dark">
    <p class="card-text text-dark">
      {{ code.content|truncatewords_html:30 }}
      <hr>
      <div class="text-right"><a href="{% url 'code-details-project' code.slug %}" title="Read More">Read More</a></div>
      <div class="text-left"><a href="{% url 'code-update-project' code.pk %}" title="Update">Update</a></div>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated  <b>{{ code.author.username }}</b></small>
  </div>
</div>
