{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col m-4">
      <h3>{{ code.title }} <small class="text-muted">Last updated {{ code.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ code.author.username }}</b></small></h3>
      <hr>
      <p>{{ code.content|linebreaksbr }}</p>
      <hr>
      <a href="{% url 'code-list-project' %}" class="btn btn-danger ml-2">Back to List</a>
     
      <a href="{% url 'code-delete-project' code.pk %}" class="btn btn-danger ml-2">Delete</a>

    </div>
  </div>
{% endblock %}
