{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'code.css' %}">

  <title>BuyCode!</title></a>
  </head>
  <body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="naaav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="tog-sty">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" id="nav-btns">
        {% if user.is_authenticated %}
        <div class="text-white">Hello, <strong>{{ user.username }}!</strong></div>
        <a href="{% url 'code-list-project' %}" class="btn btn-outline-success my-2 my-sm-0">Buy Codes</a>
        <a href="{% url 'code-create-project' %}" class="btn btn-outline-success my-2 my-sm-0">Create Code</a>
        <a href="{% url 'logout' %}"  class="btn btn-outline-success my-2 my-sm-0">Log Out</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-success my-2 my-sm-0">Log In</a>
        <a href="{% url 'templates-signup-page' %}" class="btn btn-outline-success my-2 my-sm-0">Sign Up</a>

        {% endif %}
        </form>
      </div>
    </nav>
    <div class="jumbotron jumbotron-fluid" id="jumbo">
      <div class="container">
        <h1>BuyCode.</h1>
        <h4>Create, Share and sell your talent.</h4>
        <button class="btn btn-outline-success my-2 my-sm-0" id="mainbtn1" type="submit">Start to share your talent :)</button>
      </div>
    </div>
    {% block content %}

    {% endblock %}





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
